<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('include/commonHeader')-%>
</head>
<body class="bg-gradient-primary">
    <b style='color:white;'> Welcome <%=user.userFirstName%> <%=user.userLastName%> !!!! Login through <%=vendor%></b>
    

    <a href="/member/logout"> <div style='color:white;'> Logout </div> </a>
    <%-include('include/commonScript')-%>
</body>
</html>
